@page
@model AT_TourManager.Pages.Destinos.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Destino</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Destino.Nome" class="control-label"></label>
                <input asp-for="Destino.Nome" class="form-control" />
                <span asp-validation-for="Destino.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destino.ImagemUrl" class="control-label"></label>
                <input asp-for="Destino.ImagemUrl" class="form-control" />
                <span asp-validation-for="Destino.ImagemUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destino.PaisDestinoId" class="control-label"></label>
                <select asp-for="Destino.PaisDestinoId" class ="form-control" asp-items="ViewBag.PaisDestinoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Voltar para a Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
