@page
@model IndexModel
@{
    ViewData["Title"] = "Tour Manager";
}

<div class="container mt-5">
    <h1 class="text-center mb-5">Tour Manager</h1>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Clientes</h5>
                    <a href="/Clientes" class="btn btn-back">Acessar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Destinos</h5>
                    <a href="/Destinos" class="btn btn-back">Acessar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Pacotes Turísticos</h5>
                    <a href="/PacotesTuristicos" class="btn btn-back">Acessar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Países Destinos</h5>
                    <a href="/PaisesDestinos" class="btn btn-back">Acessar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Reservas</h5>
                    <a href="/ReservaPage" class="btn btn-back">Acessar</a>
                </div>
            </div>
        </div>
    </div>
</div>
